.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 230px;
  transition: 0.3s ease-in-out;
}

.containerClose {
  width: 35px;
  background-color: white;
}

.icons {
  background-color: white;
}

.sideBar {
  margin: 0;
  padding: 1rem;
  background-color: white;
  color: black;
  height: 100%;
  overflow: auto;
  padding-top: 1rem;
  transition: 0.3s ease-in-out;
}

.iconMenu {
  margin: 5px;
  float: right;
  cursor: pointer;
}

.sideBar h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5em;
}

.sideBar a {
  display: block;
  padding: 1rem;
  display: flex;
  text-decoration: none;
  color: black;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out 0.4s;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.sideBar a svg {
  margin-right: 0.5rem;
}

.sideBar a:hover {
  background-color: #3787fe;
  color: white;
}

.sideClose {
  display: none;
  transition: 0.3s ease-in-out;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;
}

.logout {
  position: absolute;
  bottom: 3rem;
  width: 200px;
}

.sideBar .logout:hover {
  color: white;
  background-color: red;
}

.function {
  text-transform: capitalize;
}
